body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
  /*display: inline;*/
}

a {
  color: #00B7FF;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar {
  /*padding: 2%;*/
  color: white;
  font-size: 1.3em;
}

.levelBtn {
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 0;
  font-size: 4em;
  color: white;
  font-weight: bold;
}

.leftBtn {
  margin-right: 1em;
}

.rightBtn {
  margin-left: 1em;
}

.problem {
  position: relative;
  font-size: 9em;
  display: block;
  text-align: center;
  font-weight: bold;
}

.bottom {
/*  position: relative;
  left: 5%;
  right: 5%;
  margin: 5%;
  bottom: 0%;*/
  /*margin-bottom: 0;*/
}

.numberButts {
  /*margin: 10px;*/
  font-size: 7em;
  width: 33%;
  background-color: #CCC;
  border: 5px solid black;
}

#levelDisplay {
  display: inline;
}

#navbarStats {
  font-size: 4em;
  float: right;
}

#correct {
  background-color: green;
  padding: 0 20px 0 20px;
}

#wrong {
  background-color: red;
  padding: 0 20px 0 20px;
}

#backspace {
  width: 99%;
}

#levelButtons li {
  list-style-type: none;
}

#answer {
  font-size: 5em;
  border: 3px solid black;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#submit {
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 6em;
  margin-bottom: 1em;
}

#submit:active {
  background-color: lightblue;
}

/*#lastProb {
  visibility: hidden;
}*/

#problem {
  margin-top: 10%;
}

/* CLASSES USED IN THE ANIMATION BELOW */
.green {
  -webkit-animation-name: correct;
  -webkit-animation-duration: 0.3s;
  animation-name: correct;
  animation-duration: 0.3s;
}

.red {
  -webkit-animation-name: wrong;
  -webkit-animation-duration: 0.3s;
  animation-name: wrong;
  animation-duration: 0.3s;
}


/* ANIMATIONS */
@-webkit-keyframes correct {
  25%   { background-color: green; }
  /*50%   { background-color: white; }
  75%   { background-color: green; }*/
  100%  { background-color: white;}
}

@keyframes correct {
  background: green;
}

@-webkit-keyframes wrong {
  25%   { background-color: red; }
  /*50%   { background-color: white; }
  75%   { background-color: green; }*/
  100%  { background-color: white;}
}

@keyframes wrong {
  background: red;
}