body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
}

a {
  color: #00B7FF;
}

ul {
  /*list-style-type: none*/
  margin: 0;
  padding: 0;
}

.levelBtn {
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 0;
  font-size: 4em;
  color: white;
  font-weight: bold;
}

.leftBtn {
  margin-right: 1em;
}

.rightBtn {
  margin-left: 1em;
}

.problem {
  position: relative;
  font-size: 7em;
  display: block;
  text-align: center;
}

/*.mathSymbols {
  margin-left: 2em;
  color: orange;
}*/

/*#levelButtons {
  position: relative;
  top: 3em;
}*/

#levelButtons li {
  list-style-type: none;
}

#answer {
  font-size: 5em;
  border: 3px solid black;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#submit {
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 5em;
}

#submit:active {
  background-color: lightblue;
}

#lastProb {
  visibility: hidden;
}