<nav class="navbar navbar-inverse navbar-fixed-top navbar-right" role="navigation">
  <div class="container-fluid">
    <!-- <div class="navbar-header"> -->
      <h1 id="levelDisplay" class="col-xs-4">Level {{level}}</h1>
      <div id="clock" class="col-xs-4"></div>
      <div id="navbarStats" class="col-xs-4"><span id="correct">{{correct}}</span><span id="wrong">{{wrong}}</span></div>
    <!-- </div> -->
  </div>
</nav>

<div id="problem" class="container">
  <div id="operand1" class="problem col-xs-12">{{operand1}}</div>
  <div id="operator" class="problem col-xs-4 col-xs-offset-0.1">{{operator}}</div>
  <div id="operand2" class="problem col-xs-4 col-xs-offset-0">{{operand2}}</div>
  <input id="answer" class="col-xs-10 col-xs-offset-1" type="text" ng-model="answer" readonly>
  <label id="submit" class="btn btn-primary col-xs-12" ng-click="submitAnswer()">Submit Answer</label>
</div>

<div class="bottom"> <!-- not using bottom right now -->
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('1')">1</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('2')">2</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('3')">3</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('4')">4</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('5')">5</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('6')">6</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('7')">7</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('8')">8</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('9')">9</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('0')">0</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('.')">.</button>
  <button type="button" class="btn btn-default col-xs-3 numberButts" ng-click="numberClick('-')">-</button>
  <button type="button" id="backspace" class="btn btn-default numberButts" ng-click="answerBackspace()">Backspace</button>
</div>