<h1>Choose Difficulty</h1>
<!-- <ul id="levelButtons"> -->
  <!-- <li> -->
    <button type="button" class="levelBtn leftBtn btn btn-primary col-xs-5" id="level1+" ng-click="goToLevel(1)">[+]
    </button>
  <!-- </li> -->
  <!-- <li> -->
    <button type="button" class="levelBtn rightBtn btn btn-primary col-xs-5" id="level1-" ng-click="goToLevel(2)">[&#8722;]
    </button>
  <!-- </li> -->
  <!-- <li> -->
    <button type="button" class="levelBtn leftBtn btn btn-primary col-xs-5" id="level1*" ng-click="goToLevel(3)">[&#215;]
    </button>
  <!-- </li> -->
  <!-- <li> -->
    <button type="button" class="levelBtn rightBtn btn btn-primary col-xs-5" id="level1/" ng-click="goToLevel(4)">[&#247;]
    </button>
  <!-- </li> -->
  <!-- <li> -->
    <button type="button" class="levelBtn btn btn-primary col-xs-12" id="level5" ng-click="goToLevel(5)">
      Level 5 <span class="mathSymbols">[+ &#8722; &#215; &#247;]</span>
    </button>
  <!-- </li> -->
<!-- </ul> -->
